# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Test reports
htmlcov/
coverage.xml
.coverage

# Misc
*.log
docs/assets/*.png

_site/
docs/_site/
docs/.jekyll-cache/
.jekyll-cache/
node_modules/
src/gpt_fusion.egg-info/
