# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Test reports
htmlcov/

# Misc
*.log
docs/assets/*.png

docs/_site/
docs/.jekyll-cache/
.jekyll-cache/
